.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f2940;
    color: #fff;
  }
  
  /* .logo-container {
    max-width: 600px;
    text-align: center;
  } */
  
  /* .logo-container img {
    width: 100%;
    max-height: 300px;
  } */
  
.logo-image {
  width: 400px; /* Adjust the width as per your preference */
  height: auto;
}
  